*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.content{
  height: 100vh;
}
.register-page,.login-page{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* transection  */
.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow:  0px 0px 7px  grey ;
}
/* transection  */
.switch-icons .anticon svg{
  font-size: 20px;
  cursor: pointer;
}
.active{
  color: blue;
}
.unactive{
  color: black;
}
.switch-icons{
  padding: 8px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px;
}