*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.content{
  height: 80vh;
}
.register-page,.login-page{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* transection  */
.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow:  0px 0px 7px  grey ;
}
/* transection  */
